@using System.Collections
@using System.Web.UI.WebControls
@using PhotoContests.Models
@model PhotoContests.App.Models.BindingModels.ContestFinalBindingModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @{
            if (this.Session["RewardStrategy"].ToString() == RewardStrategy.TopNUsers.ToString())
            {
                <div class="info">Please add winners count</div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WinnersCount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WinnersCount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WinnersCount, "", new { @class = "text-danger" })
                    </div>
                </div>
            }

            if (this.Session["DeadlineStrategy"].ToString() == DeadlineStrategy.ByTime.ToString())
            {
                <div class="info">Please add date ended</div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DateEnded, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateEnded, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DateEnded, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="info">Please add number of participants</div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfParticipation, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumberOfParticipation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumberOfParticipation, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="info">Please add selected users for participation</div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.ListBox("Username", (MultiSelectList)ViewBag.Users, new { size = 4 })
                    </div>
                </div>
            }

            if (this.Session["VotingStrategy"].ToString() == VotingStrategy.Closed.ToString())
            {
                <div class="info">Please add selected users for voting</div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.ListBox("Username", (MultiSelectList)ViewBag.Users, new { size = 4 })
                    </div>
                </div>
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>

            }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
